In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
df = pd.read_csv(r'https://raw.githubusercontent.com/YBI-Foundation/BusinessAnalytics/main/Cereals.csv')

In [7]:
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100%_Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,25,3,1.0,0.33,68.402973
1,100%_Natural_Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,25,3,1.0,0.33,59.425505
3,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25,3,1.0,0.50,93.704912
4,Almond_Delight,R,C,110,2,2,200,1.0,14.0,8.0,NaN,25,3,1.0,0.75,34.384843

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     76 non-null     float64
 9   sugars    76 non-null     float64
 10  potass    75 non-null     float64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(7), int64(6), object(3)
memory usage: 9.8+ KB

In [9]:
df.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,76.000000,76.000000,75.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.802632,7.026316,98.666667,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,3.907326,4.378656,70.410636,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,5.000000,0.000000,15.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,42.500000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.500000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [15]:
df.isnull().sum()

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       1
sugars      1
potass      2
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [34]:
df = df.dropna()

df.isnull().sum()

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [35]:
# Define X

df.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

In [39]:
X = df[['calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating']]

In [24]:
from sklearn.preprocessing import MinMaxScaler

In [32]:
mn = MinMaxScaler()

In [41]:
pd.DataFrame(mn.fit_transform(X))

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.181818,0.6,0.2,0.406250,0.714286,0.000000,0.400000,0.841270,0.25,1.0,0.5,0.064,0.665593
1,0.636364,0.4,1.0,0.046875,0.142857,0.166667,0.533333,0.380952,0.00,1.0,0.5,0.600,0.210685
2,0.181818,0.6,0.2,0.812500,0.642857,0.111111,0.333333,0.968254,0.25,1.0,0.5,0.064,0.546941
3,0.000000,0.6,0.0,0.437500,1.000000,0.166667,0.000000,1.000000,0.25,1.0,0.5,0.200,1.000000
4,0.545455,0.2,0.4,0.562500,0.107143,0.305556,0.666667,0.174603,0.25,0.0,0.5,0.400,0.151551
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,0.545455,0.2,0.2,0.781250,0.000000,0.888889,0.200000,0.142857,0.25,1.0,0.5,0.400,0.278387
70,0.545455,0.0,0.2,0.437500,0.000000,0.444444,0.800000,0.031746,0.25,0.5,0.5,0.600,0.128340
71,0.454545,0.4,0.2,0.718750,0.214286,0.666667,0.200000,0.317460,0.25,0.0,0.5,0.336,0.419558
72,0.454545,0.4,0.2,0.625000,0.214286,0.666667,0.200000,0.301587,0.25,0.0,0.5,0.600,0.443410
73,0.545455,0.2,0.2,0.625000,0.071429,0.611111,0.533333,0.142857,0.25,0.0,0.5,0.400,0.239812

In [42]:
from sklearn.cluster import KMeans

In [43]:
km = KMeans(n_clusters=3)

In [44]:
km.fit(X)

KMeans(n_clusters=3)

In [45]:
km.labels_

array([2, 0, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 0, 1, 2, 1, 1, 1,
       1, 1, 0, 2, 2, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 2, 2,
       2, 1, 1, 1, 1, 1, 2, 1, 0, 0, 1, 2, 2, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 2, 1, 1, 1, 1, 1, 1])